@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f4f8;
} */

.workout-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    padding: 50px 0;
    background-color: #e5a00d;
    color: #ecf0f1;
}

header h1 {
    margin-bottom: 10px;
    font-size: 48px;
    animation: fadeInDown 1s;
}

header p {
    font-size: 18px;
}

.input-section {
    background-color: #ecf0f1;
    padding: 30px;
    border-radius: 8px;
    margin-top: -30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    animation: fadeInUp 1s;
}

.input-section h2 {
    margin-bottom: 20px;
}

form input {
    width: calc(50% - 10px);
    padding: 10px;
    margin: 5px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    box-sizing: border-box;
}

form button {
    padding: 10px 20px;
    background-color: #ddb70f;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #daae21;
}

.total-calories {
    margin-top: 20px;
    text-align: center;
}

.total-calories h3 {
    margin: 0;
    font-size: 24px;
}

.workout-list {
    margin-top: 40px;
}

.workout-list h2 {
    margin-bottom: 20px;
}

.workout-list ul {
    list-style: none;
    padding: 0;
}

.workout-list li {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-left: 5px solid #e69326;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fadeIn 0.5s;
}

.workout-list li .delete-btn {
    background-color: transparent;
    border: none;
    color: #c0392b;
    font-size: 18px;
    cursor: pointer;
}

.workout-list li .delete-btn:hover {
    color: #e74c3c;
}

.chart-section {
    margin-top: 50px;
}

.chart-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
    form input {
        width: 100%;
        margin: 5px 0;
    }

    header h1 {
        font-size: 36px;
    }

    .input-section, .workout-list, .chart-section {
        padding: 20px;
    }
}
